@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

html {
    background-color: #0f0f0f;
    color: #0f0f0f;

}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: inset 0 0 100px rgb(5, 0, 0);
    display: block;
    content: "";
    opacity: 20%;
    position: absolute;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.img {
    object-fit: cover;
    position: relative;

}

body {
    background-color: #0f0f0f;
}

nav {
    z-index: 2;
    position: fixed;
    line-height: 60px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-bottom: #0f0f0f;
    opacity: 100%;


}

.logo {
    float: left;
    position: relative;
    text-align: center;
    line-height: 100px;
}

nav .logo img {
    width: 120px;
    vertical-align: middle;
    height: 120px;


}

.menu {
    display: flex;
    font-size: larger;
    padding: 0%;
    height: auto;
    margin: 0%;

}

nav .menu :hover {
    text-decoration: underline;
    list-style-type: none;

}

section>.container .intro {
    color: #FFD300;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: xx-large;
    text-shadow: 0px 0px 50px rgba(235, 255, 17, 0.91);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
section> .container .tombol{
    font-size: small;
    z-index: 100;
    position: relative;
    color: #FFD300;
    text-align: center;
}
.bahan2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.bahan2::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 100px rgb(5, 0, 0);
    opacity: 0.2;
    pointer-events: none;
    z-index: 5;
}
.fitur::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6); /* overlay hitam transparan */
    pointer-events: none;
    z-index: 0;
    
}
section .teks{
    position: relative;
      width: 100%;
      height: 100vh;
      background: url("fitur") no-repeat center center/cover;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;

}

.hero {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 6; /* di atas overlay bahan2 */
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 7;
    /* efek lain jika perlu */
}

.character {
    position: absolute;
    z-index: 10; /* paling depan */
    width: 30%;
    height: 90%;
    right: 0;
    bottom: 0;
}
